
@page "/"
@using Imc.Models;
@using Imc.Services;
@inject NavigationManager NavigationManager;
@inject IMedidaService MedidaService;




<section class="content-imc-main">
    <h1>Calculo de IMC</h1>

    <input type="number" @bind="Altura" placeholder="Altura">
    <input type="number" @bind="Peso" placeholder="Peso">
    <select name="cars" id="cars">
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
    </select>
    <label>
        <input type="checkbox" id="esqueciSenha"> Eu tenho 65 anos ou mais
    </label>

    <div class="btn-box">
        <button @onclick="CalcularIMC">Calcular meu IMC</button>
        <button>Entenda o calculo</button>
    </div>

    <!-- Renderizar o modal dinamicamente -->
    @if (showModal)
    {
        <Modal  
            onclickRegistrar="RegistrarMedidas" 
            onclickHistorico="ExibirHistorico" 
            Texto="@medida.Texto"
            Titulo="@medida.Titulo"
        />
    }

</section>



@code {
    private bool showModal = false;
    public double Altura { get; set; }
    public double Peso { get; set; }
    public string? Titulo { get; set; }
    public string? Texto { get; set; }
    public DateTime CreatedAt { get; set; }
    public Medida medida { get; set; }
    public List<Medida> medidas { get; set; }
    private void CalcularIMC()
    {

        if (Altura == 0 || Peso == 0) return;

        // Lógica para calcular o IMC usando Altura, Peso, Sexo e Idoso
        double alturaEmMetros = Altura / 100.0; // Converter altura de centímetros para metros
        double ResultadoIMC = Peso / (alturaEmMetros * alturaEmMetros);


        if(ResultadoIMC < 18.5)
        {
            medida.Titulo = "⛔ Magreza";
            medida.Texto = "Cuidado você está em Magreza,  dê uma atenção para sua saúde";
        }else if(ResultadoIMC >= 18.5 && ResultadoIMC <= 24.9)
        {
            medida.Titulo = "✅ Parabens";
            medida.Texto = "Você está no peso ideal, continue mantendo este estilo!";
        }
        else
        {
            medida.Titulo = "⛔ Sobrepeso";
            medida.Texto = "Cuidado você está com sobrepeso,  dê uma atenção para sua saúde";
        }
        medida.CreatedAt = DateTime.Now;
        // Exibir o modal
        ShowModal();
    }

    private async void RegistrarMedidas()
    {
        medidas.Add(medida);

        await MedidaService.SaveMedidas(medidas);
        NavigationManager.NavigateTo("/history");
    }

    private void ExibirHistorico()
    {
        NavigationManager.NavigateTo("/history");
    }
    private void ShowModal()
    {
        showModal = true;
    }
   
    protected override async Task OnInitializedAsync()
    {
        medida = new();

        medidas = await MedidaService.GetMedidas();
    }
}
